@tailwind base;
@tailwind components;
@tailwind utilities;

.transition-3 {
  @apply transition  duration-300;
}
::-webkit-scrollbar {
  width: 20px;
}

/* Track */

/* Handle */
::-webkit-scrollbar-thumb {
  @apply bg-primary;
}
.btn-blue {
  @apply bg-blue-500 hover:bg-blue-700 text-white;
}
.form_input {
  @apply rounded-lg dark:bg-bgDarkSecondary ring-2 outline-none focus:ring-primary ring-opacity-75 placeholder-gray-400 dark:placeholder-gray-500;
}
.form_input__error {
  @apply ring-red-700 !important;
}

/* font */
@font-face {
  font-family: "Prompt";
  src: url(/font/Prompt-Thin.ttf) format("truetype");
  font-weight: 100;
}

@font-face {
  font-family: "Prompt";
  src: url(/font/Prompt-ExtraLight.ttf) format("truetype");
  font-weight: 200;
}

@font-face {
  font-family: "Prompt";
  src: url(/font/Prompt-Light.ttf) format("truetype");
  font-weight: 300;
}

@font-face {
  font-family: "Prompt";
  src: url(/font/Prompt-Regular.ttf) format("truetype");
  font-weight: 400;
}
@font-face {
  font-family: "Prompt";
  src: url(/font/Prompt-Medium.ttf) format("truetype");
  font-weight: 500;
}

@font-face {
  font-family: "Prompt";
  src: url(/font/Prompt-SemiBold.ttf) format("truetype");
  font-weight: 600;
}

@font-face {
  font-family: "Prompt";
  src: url(/font/Prompt-Bold.ttf) format("truetype");
  font-weight: 700;
}
@font-face {
  font-family: "Prompt";
  src: url(/font/Prompt-ExtraBold.ttf) format("truetype");
  font-weight: 800;
}
@font-face {
  font-family: "Prompt";
  src: url(/font/Prompt-Black.ttf) format("truetype");
  font-weight: 900;
}
